<a href="https://colab.research.google.com/github/hermain694/gaesol/blob/main/Practice_exercises_for_List_and_For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise # 1:
Given a Python list you should be able to display Python list in the following order

aLsit = [100, 200, 300, 400, 500]

Expected output:

[500, 400, 300, 200, 100]

In [ ]:
aList = [100, 200, 300, 400, 500]
aList=aList[::-1]
print(aList)

[500, 400, 300, 200, 100]

# Exercise # 2: 

Concatenate two lists index-wise

list1 = ["M", "na", "i", "Ke"] 

list2 = ["y", "me", "s", "lly"]

Expected output:

['My', 'name', 'is', 'Kelly']

In [ ]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
list3=[]
for i,j in zip(list1,list2):
  list3.append(i+j)
print(list3)

['My', 'name', 'is', 'Kelly']

# Exercise Question 3: 
Given a Python list. Turn every item of a list into its square

aList = [1, 2, 3, 4, 5, 6, 7]

Expected output:

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
aList = [1, 2, 3, 4, 5, 6, 7]
blist=[]
for i in aList:
  a=i**2
  blist.append(a)
print(blist)

[1, 4, 9, 16, 25, 36, 49]

# Exercise # 4: 
Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3=[]
for i in list1:
  for j in list2:
    list3.append(i+j)
    
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

# Exercise # 5: 
Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

list1 = [10, 20, 30, 40]

list2 = [100, 200, 300, 400]

Expected output:

10 400

20 300

30 200

40 100

In [ ]:
list1 = [10, 20, 30, 40]

list2 = [100, 200, 300, 400]
for i,j in zip(list1,list2[::-1]):
  print(i,j)

10 400
20 300
30 200
40 100

# Exercise # 6 :
Remove empty strings from the list of strings

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

Expected output:

["Mike", "Emma", "Kelly", "Brad"]

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
while "" in list1:
  list1.remove("")
  print(list1)

['Mike', 'Emma', 'Kelly', '', 'Brad']
['Mike', 'Emma', 'Kelly', 'Brad']

# Exercise # 7 :
Write a Python program to convert temperatures to and from celsius, fahrenheit. Go to the editor
[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]
Expected Output :
60°C is 140 in Fahrenheit
45°F is 7 in Celsius

In [29]:
temperature=float(input("enter temperature:"))
print(temperature ,u"\u2109",'in fahrenheite is ',round((temperature-32)*(5/9),2),u"\u2103",'in celsius')
print(temperature,u"\u2103",'in celsius is ',round(((temperature*(9/5))+32),2),u"\u2109",'in fahrenheit')

enter temperature:45
45.0 ℉ in fahrenheite is  7.22 ℃ in celsius
45.0 ℃ in celsius is  113.0 ℉ in fahrenheit

# Exercise # 8
Write a Python program to guess a number between 1 to 9.
Note : User is prompted to enter a guess. If the user guesses wrong
then the prompt appears again until the guess is correct, on successful guess,
user will get a "Well guessed!" message, and the program will exit.

In [32]:
import random
ran_num=random.randint(1,10)
number_guess=1
guess=int(input("enter your guessed number: "))
while(guess != ran_num):
  if guess>ran_num:
    print("guessed number is less than: "+str(guess))
  else:
    print("number is greater than: "+str(guess))
  number_guess+=1
  guess=int(input("enter your guessed number: "))
print("Congratsssss....Treat dooo yrr "+str(guess)+' is right u guessed this in ',number_guess,'attempts')

enter your guessed number:4
guessed number is less than: 4
enter your guessed number:2
guessed number is less than: 2
enter your guessed number:1
Congratsssss....Treat dooo yrr 1 is right u guessed in the 3 attempts

# Exercise # 9
Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [ ]:
for i in range(0,7):
  if i==3 or i==6:
    continue
  print(i)

0
1
2
4
5

# Exercise # 10
Write a Python program which iterates the integers from 1 to 50.
For multiples of three print "it is multiple of 3" instead of the number 
and for the multiples of five print "multiple of 5". For numbers which are 
multiples of both three and five print "multiple of both 3 and 5"

In [7]:
for i in range(1,51):
  if i%3 ==0 and i%5==0:
    print('aaluu paratha')
  elif i%5 ==0:
    print('chole khulche')
  elif i%3 ==0:
    print('idli sambhar')
  else:
    print(i)

1
2
idli sambhar
4
chole khulche
idli sambhar
7
8
idli sambhar
chole khulche
11
idli sambhar
13
14
aaluu paratha
16
17
idli sambhar
19
chole khulche
idli sambhar
22
23
idli sambhar
chole khulche
26
idli sambhar
28
29
aaluu paratha
31
32
idli sambhar
34
chole khulche
idli sambhar
37
38
idli sambhar
chole khulche
41
idli sambhar
43
44
aaluu paratha
46
47
idli sambhar
49
chole khulche

# Exercise # 11
Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [ ]:
number=int(input('enter a number:'))
for i in range(1,11):
  print(number,'*',i,'=',number*i)

enter a number:6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

# Exercise # 12
Get all diagonal of matrix and sum of it :
matrix = [[1,2,3,4], [2,3,4,5], [3,4,5,6], [4,5,6,7]]

In [ ]:
matrix = [[1,2,3,4], 
          [2,3,4,5], 
          [3,4,5,6], 
          [4,5,6,7]
]
a=[]
b=[]
for i in range(len(matrix)):
  for j in range(len(matrix)):
    if i == j:
      a.append(matrix[i][j])
    if i+j == 4-1:
      b.append(matrix[i][j])
print(a,'left to right = : ',sum(a))
print(b,'right to left = : ',sum(b))

[1, 3, 5, 7] left to right = :  16
[4, 4, 4, 4] right to left = :  16